@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix overscroll in dark mode */
html {
  background-color: #f3f4f6; /* gray-100 */
}

html.dark {
  background-color: #111827; /* gray-900 */
}

body {
  background-color: #f3f4f6; /* gray-100 */
}

html.dark body {
  background-color: #111827; /* gray-900 */
}

#root {
  background-color: #f3f4f6; /* gray-100 */
}

html.dark #root {
  background-color: #111827; /* gray-900 */
}
